.nav-item{
    margin: 10px;
}
.tabla-partidos{
    width: 100%;
    text-align: center;
}
.w{
    color: green;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: green;
}
.l{
    color:red;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: red;
}
.d{
    color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: gray;
}

.result{
    width: 35px;
    height: 35px;
}
.modal-body{
    font-size: large;
    color: gray;
}

.filter-bar {
    margin: 2vh;    
}
.filter-bar .input-group{
    width: 200px;
    margin: 1vh;
}

@media (max-width:668px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .tabla-partidos{
        font-size: 10pt;
    }
    td button{
        height: 30px;
        width: 30px;
    }

    .result{
        font-size:18pt ;
    }
/* 
    #btn-filtrar{
        height: 40px;
    } */
}