.botones-menu button{
    height:150px;
    width: 150px;
}

.botones-menu{
    margin-top: 5vh;  
}

#equipo-seleccionado{
    font-size:18px;
    color: rgb(0, 0, 124);
}

#jugadores-activos{
    font-size:18px;
    color: rgb(0, 0, 124);
}

#btn-editar-jugador{
    display: none;
}

#regresar-agregar{
    display: none;
}
#equipo-seleccionado div{
    margin-left: 50px;
}

.big-checkbox {width: 20px; height: 20px;}