
/* .ag-theme-alpine {
    --ag-row-hover-color: rgb(222, 230, 240);
} */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    overflow: auto;
}

body {
    overflow: auto;
}

#myGrid{
    height: 73%;
}
.ag-header-cell-text{
    font-size: 12px;
}
@media (max-width:540px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .nav-link{
    font-size: 20px;
    }

}